@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama?styles=170364');

body {
    font-family: "Inter", sans-serif;
}

.shape-font {
    font-family: 'Miama', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 78px;
}

/* default style  */

* {
    margin: 0;
    padding: 0;
}

/* Navbar style  */

.nav-section {
    width: 100%;
    background: linear-gradient(rgb(17, 17, 17), rgba(26, 24, 24, 0) 600%);
    height: 100px;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.left-content h3 {
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
}

.right-content {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
}

.nav-btn {
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    margin-left: 30px;
    margin-right: 25px;
}

.nav-home-btn {
    border: none;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    padding: 8px 20px 8px 20px;
    margin: 4px;
    margin-right: 20px;
    border-radius: 30px;
}

.icon-bar {
    display: none;
}

/* Header section style */
.header-section {
    width: 100%;
    background: linear-gradient(180deg,
            rgba(19, 19, 19, 0.747) 0%,
            rgb(30, 30, 30) 50%,
            rgba(1, 1, 1, 0.719) 100%);
    margin: 0 auto;
}

.header-content {
    display: flex;
    justify-content: space-around;
}

.header-left-content {
    width: 520px;
    height: 440px;
    margin-top: 64px;
    margin-left: 1rem;
}

.header-left-content h1 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 78px;
    font-weight: 900;
    line-height: 90px;
}

.header-left-content p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin: 28px 0;
}
.button-section{
    display: flex;
}
.primary-btn {
    border: none;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 40px 16px 40px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}

.download-btn {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    background: transparent;
    padding: 16px 40px 16px 40px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 14px;
}

.header-right-content {
    width: 349px;
    height: 580px;
    margin-right: 5rem;
}

.header-right-content img {
    width: 100%;
    height: 100%;
}

.tutorial {
    box-sizing: border-box;
    width: 206px;
    height: 96px;
    border: 1px solid rgba(65, 54, 54, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(48, 48, 48, 0.54);
    position: absolute;
    left: 53%;
    top: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tutorial-round {
    width: 40px;
    height: 40px;
    background: rgb(230, 83, 60);
    border-radius: 50%;
    margin-right: 12px;
}

.tutorial-content h1 {
    color: rgb(250, 250, 249);
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.tutorial-content p {
    color: rgba(239, 237, 232, 0.65);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.workout {
    box-sizing: border-box;
    width: 193px;
    height: 98px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(48, 48, 48, 0.50);
    position: absolute;
    left: 77%;
    top: 37%;
}

.workout h1 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 2px;
    margin: 15px 0 2px 24px;
}


.workout p {
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-left: 24px;
}

/* Habit section style */
.habit-section-container {
    width: 100%;    
    background: rgb(17, 17, 17);
    margin: 0 auto;
}

.habit-section-content h1 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 14px;
    padding-top: 40px;
}

.habit-section-content p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 40px;
}
.habit-section-images {
    width: 80%;
    margin: 58px auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.habit-card {
    width: 231px;
    height: 274px;
}
.card-image {
    width: 180px;
    height: 180px;
    border: 2px solid rgba(255, 255, 255, 0.411);
    margin: 0 auto;
    border-radius: 50%;
}

.card-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.habit-card h4 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-top: 30px;
}

.habit-card p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-top: 6px;
}

/* run-section  */

.run-section {
    width: 80%;
    margin: 100px auto 0 auto;
    border-radius: 18px;
    background: rgba(185, 185, 185, 0.041);
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
}
.run-section-container {
    width: 443px;
    height: 290px;
    margin-left: 54px;
    margin-top: 41px;

}

.run-section-container h1 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 14px;
}

.run-section-container p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 34px;
}
.run-image {
    width: 366px;
    height: 312px;
    margin-top: 30px;
    margin-right: 32px;
    margin-bottom: 30px;
}

.run-image img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
}



/* calculator section style  */

.calculator-section {
    width: 100%;
    background: rgb(17, 17, 17);
    margin: 0 auto;
}

.bmi-calculator {
    width: 50%;
    height: 120px;
    margin: 0 auto 88px auto;
    padding-top: 30px;
}
.bmi-calculator h1 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 14px;
}

.bmi-calculator p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}
.calculator-section-details {
    width: 100%;
    background: rgba(185, 185, 185, 0.11);
    display: flex;
    justify-content: space-evenly;
}

.calculate-chart {
    width: 310px;
    height: 300px;
    margin-top: 50px;
}

.calculate-chart h1 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 52px;
}

table,
th,
td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
}

th {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    padding: 12px;
    text-align: left;
}

td {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    padding: 12px;
    text-align: left;
}
.calculate-bmi {
    width: 40%;
    margin-top: 50px;
    margin-bottom: 40px;
}

.calculator-section h1 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 14px;
}

.calculator-section p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 34px;
}

.input-column {
    display: flex;
    gap: 12px;
}

.input-box input {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    width: 282.5px;
    height: 48px;
    border: none;
    margin-top: 12px;

}

.input-box ::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px;
}

.select-box-column select {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    width: 282.5px;
    height: 48px;
    border: none;
    margin-top: 12px;
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px;

}

.select-box select {
    width: 577px;
    height: 48px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    margin-top: 12px;
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px;
}

.calculate-btn {
    margin-top: 34px;
}


/* team section style  */

.team-section-container {
    width: 100%;
    background: rgb(34, 34, 34);
    margin: 0 auto;
    padding-top: 0.5px;
    padding-bottom: 70px;
}

.team-section-content {
    width: 80%;
    margin: 88px auto 0 auto;
}

.team-section-content h1 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 14px;
}

.team-section-content p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 70px;
}
.team-section-image-container {
    max-width: 100%;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    padding: 20px;

}

.team-image {
    width: 326.67px;
    height: 272px;
    position: relative;
}

.team-image img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
}

.team-image h5 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
}

.team-image p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 11px;
    text-align: left;
}

.team-img-name {
    position: absolute;
    top: 80%;
    left: 5%;
}   

/* team section style  */

.team-section-container {
    width: 100%;
    background: rgb(34, 34, 34);
    margin: 0 auto;
    padding-top: 0.5px;
    padding-bottom: 70px;
}

.team-section-content {
    width: 80%;
    margin: 88px auto 0 auto;
}

.team-section-content h1 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 14px;
}

.team-section-content p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 70px;
}
.team-section-image-container {
    max-width: 100%;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    padding: 20px;

}

.team-image {
    width: 100%;
    height: 100%;
    position: relative;
}

.team-image img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
}

.team-image h5 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
}

.team-image p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 11px;
    text-align: left;
}

.team-img-name {
    position: absolute;
    top: 80%;
    left: 5%;
}   


/* footer section style  */

.footer-section {
    width: 100%;
    background: rgba(35, 33, 33, 0.945);
    margin: 0 auto;
}

.footer-content {
    width: 80%;
    margin: 0 auto;
    padding-top: 66px;
    display: flex;
    justify-content: space-between;
}

.footer-left {
    width: 35%;
}

.footer-left h1 {
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 70px;
    font-weight: 800;
    font-style: italic;
    margin-bottom: 20px;
}

.footer-left p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}


.footer-right {
    display: flex;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.get-left {
    width: 40%;
    height: 100%;
}

.get-right {
    width: 40%;
    height: 100%;
}

.footer-right h3 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 39px;
}

.footer-right p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 20px;
}

.footer-section hr {
    border: 2px solid rgba(255, 255, 255, 0.1);
    width: 80%;
    margin: 79px auto 0 auto;
}

.reserved-sign {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-top: 35px;
    text-align: center;
    padding-bottom: 34px;
}







/* responsive style  */

@media screen and (max-width: 570px) {
    .container {
        width: 90%;
    }

    .right-content {
        display: none;
        margin: 0;
        padding: 0;
    }

    .icon-bar {
        display: block;
        color: rgba(255, 255, 255, 0.938);
        margin-top: 12px;
        font-size: 20px;
    }

    .header-section {
        width: 100%;
    }

    .header-content {
        flex-direction: column;
    }

    .header-left-content {
        width: 100%;
        margin-top: 30px;
        margin-left: 1.7rem;
    }

    .header-left-content h1 {
        font-size: 50px;
        width: 70%;
        line-height: 70px;
    }

    .header-left-content p {
        font-size: 15px;
        width: 70%;
    }

    .shape-font {
        font-family: 'Miama', sans-serif;
        color: rgb(255, 255, 255);
        font-size: 50px;
    }
    

    .header-right-content {
        width: 349px;
        height: 580px;
        margin-left: 3rem;
    }

    .workout {
        left: 50%;
        top: 60%;
    }

    .tutorial {
        left: 15%;
        top: 75%;
    }
    .habit-section-content h1{
        width: 100%;
        font-size: 30px;
    }
    .habit-section-content p{
        width: 90%;
        font-size: 13px;
        padding-left: 30px;
        
    }
    .habit-section-images {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }
    .habit-card {
        margin-bottom: 30px;
    }
    .run-section {
        flex-direction: column;
    }
    .run-section-container{
        margin-left: 0;
    }
    .run-section-container h1{
        text-align: left;
        margin-left: 40px;
        font-size: 30px;
    }
    .run-section-container p{
        margin-left: 40px;
        margin-right: 50px;
        font-size: 15px;
        text-align: justify;
    }
    .run-btn{
        width: 80%;
        margin-left: 44px;
    }
    .run-image{
        margin: 0 auto 30px auto;
        align-items: center;
    }
    .calculator-section-details{
        flex-direction: column ;
    }

    .calculate-bmi h1{
        padding-left: 40px;
    }
    .calculate-bmi p{
        padding-left: 40px;
    }
    .input-column{
        padding-left: 40px; 
    }
    .input-box input {
        width: 100%;
        
    }
    .select-box-column select {
        width: 100%;
        font-size: 13px;
   
    }
    .select-box-column{
        width: 100%;
    }
    .select-box{
        padding-left: 40px;
    }
    .select-box select {
        width: 100%;
        font-size: 13px;
    }
    
    .bmi-calculator{
        margin: 0;
        padding-left: 40px;
        width: 70%;
    }
    .calculate-btn {    
        margin-top: 34px;
        font-size: 13px;
        width: 80%;
        margin-left: 44px;
    }

    .calculator-section h1 {
        font-size: 18px;
        font-weight: 900;
        margin-bottom: 14px;
    }
    
    .calculator-section p {
        font-size: 10px;
        font-weight: 400;
        margin-bottom: 34px;
        width: 70%;
    }
    table{
        width: 100%;
    }
    .calculate-chart{
        padding-left: 40px;
    }
    .input-box ::placeholder {
        font-size: 13px;
    }
    .team-section-image-container{
        grid-template-columns: 1fr;
    }
    .team-image{
        width: 100%;
        height: 100%;
    }

    .footer-content{
        flex-direction: column;
    }
    .footer-left {
        width: 90%;
        text-align: left;
    }
    .footer-left h1{
        font-size: 40px;
    }
    .footer-left p{
        width: 100%;
        margin-bottom: 20px;

    }
    .footer-right {
        flex-direction: column;
        width: 100%;
    }

    .footer-right h3{
        font-size: 30px;
    }
    .footer-right p{
        font-size: 20px;
    }
    .get-left{
        width: 100%;
    }
    .get-right{
        width: 100%;
    }
}